#library_search_text {width: 70%; margin-right:0.5em;}
.block_library_resources .library_course_title {font-weight:bold;}
.block_library_resources p {margin-top:0.5em; margin-bottom:0.5em;}
.block_library_resources a {margin-top:0.5em; margin-bottom:0.5em;}
